*{
    margin: 0;
    padding: 0;
}

body{
    padding: 10px;

}
#cardDivContainer{
    width: 100%;
    padding: 10px;
}
#title{
    background-color: #3B94D9;
    width: inherit;
    height: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: inherit;
    display: flex;
}
#searchBox{
    width: inherit;
    height: 4rem;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2px;
}
#cardStack{
    display: flex;
    /*background-color: gray;*/
}
#dayOfWeek{
    display: flex;
    margin: 2px;
}

#cardBody{
    margin: 6px;
    border: #808080 solid 2px;
    border-radius: 10px;
    padding: .5rem;
    background-size: cover;
}
#highLow{
    margin: 2px
}

#icon{
    margin: 2px
}

#forecast{
    margin: 2px
}

#wind{
    margin: 2px
}

#pressure{
    margin: 2px
}

#sun{
    margin: 2px
}

.footer{
    /*background-color: lightgray;*/
}

#mapDiv{
    width: inherit;
    height: 600px;

}

.clear-day {
    color: black;
    background: linear-gradient(0deg, rgba(201, 246, 255, 1) 0%, rgba(151, 235, 244, 1) 25%, rgba(122, 229, 245, 1) 50%, rgba(101, 221, 239, 1) 75%, rgba(53, 214, 237, 1) 100%) no-repeat;
}

.clear {
    color: black;
    background-image: url("/img/clear.jpg");
    background-repeat: no-repeat;
}

.nightTime {
    color: white;
    background: linear-gradient(0deg, rgba(1, 66, 109, 1) 0%, rgba(0, 58, 99, 1) 20%, rgba(1, 49, 85, 1) 40%, rgba(0, 39, 70, 1) 60%, rgba(0, 29, 55, 1) 80%, rgba(1, 22, 46, 1) 100%) no-repeat;
}

.stars {
    color: white;
    background-image: url("/img/stars.jpg");
    background-repeat: no-repeat;
}

.cloudy {
    background-image: url("/img/clouds2.jpg");
    background-repeat: no-repeat;
    color: white;
}

.rain {
    color: black;
    background-image: url("/img/rain.jpg");
    background-repeat: no-repeat;
}

.storm {
    background-image: url("/img/storm.jpg");
    background-repeat: no-repeat;
}

.snow {
    background-image: url("/img/snow.jpg");
    background-repeat: no-repeat;
}
